<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <arg name="marker_size" default="50" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/bebop/image_raw" />
    <arg name="cam_info_topic" default="/bebop/camera_info" />
    <arg name="output_frame" default="/camera_base_link" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="_image_transport:=compressed">
        <param name="marker_size"           type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
        <param name="output_frame"          type="string" value="$(arg output_frame)" />

        <remap from="camera_image/compressed"  to="$(arg cam_image_topic)/compressed" />
        <remap from="camera_info"   to="$(arg cam_info_topic)" />
    </node>

    <node name="ar_helipad" pkg="ar_helipad" type="ar_helipad.py" respawn="false" output="screen">
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="mode" type="int" value="1"/>
    </node>
</launch>


